// Specific CSS for your home-page
.banner-home {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  //background-color: lightgrey;
  .banner-home-text-container {
    height: 100%;
    width: 50%;
    //background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .banner-home-text-content {
      h1 {
        font-size: 75px;
        font-weight: 800;
      }
      .highlighted-header {
        background-color: #F1D6FF;
        border-radius: 10px;
        padding-left: 10px;
      }
      h3 {
        margin: 20px 0px;
        font-weight: 200; 
      }
      .banner-btn {
        margin: 50px 0px;
        a {
          padding: 15px;
          font-weight: 400;
          color: grey;
          text-decoration-line: none;
        }
        .feedback-link {
          background-color: #9F20E9;
          border: 0px solid #F5F5F5;
          color: white;
          border-radius: 10px;
          font-weight: 700;
        }
        .feedback-link:hover {
          background-color: #7C12BA;
        }
      }
    }
  }
  .banner-home-image {
    height: 100%;
    width: 50%;
    //background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .banner-img {
      width: 60%;
      border-radius: 10px;
    }
  }
}   

.test-added-value {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px 90px;
  //background-color: #F1D6FF;
  //background-color: red;
  border-radius: 20px;
  border: #9F20E9 solid 2px;
  .test-added-value-card {
    background-color: #9F20E9;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 70px;
    transition-duration: 0.5s;
    h1 {
      font-size: 90px;
      font-weight: 600;
      color: white;
    }
    p {
      font-size: 18px;
      color: white;
    }
  }
  .avc-container-left {
    border-right: #C95CFF solid 1px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
  }
  .avc-container-middle {
    border-right: #C95CFF solid 1px;
  }
  .avc-container-right {
    //background-color: red;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
  }
  .test-added-value-card:hover {
    background-color: #FAF2FF;
    h1 {
      color: #7C12BA;
      font-size: 120px;
    }
    p {
      color: #7C12BA;
    }
  }
}
.home-solutions {
  background-color: #F8EBFF;
  padding: 80px;
  margin-top: 100px;

  .divider {
    margin-top: 20px;
    position: relative;
    height: 2px;
    background-color: #7C12BA; /* Set the color of the divider line */
  }


  .solutions-header {
    font-size: 50px;
    font-weight: 800;
  }
  .solutions-small-header {
    font-weight: lighter;
  }
  .solution-cards {
    margin: 40px 0px;
    .solution-card {
      padding: 30px;
      .card-header {
        margin: 20px 0;
        font-weight: 700;
      }
      .card-small-header {
        font-weight: lighter;
      }
      .benefits {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .benefits-text {
          width: 50%;
          ul {
            list-style-type: none;
            padding-left: 0px;
            li {
                i {
                    margin-right: 7px;
                }
                font-weight: bold;
                font-size: larger;
                margin: 30px 0px; 
            }
          }
        }
        .benefits-image {
          width: 50%;
          .feature-img {
            width: -webkit-fill-available;
          }
        }
      }
    }
  }
}

