<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="navbar-links-left">
      <%= link_to "/", class: "navbar-brand" do %>
        <h1 id="header-navbar">CLEO</h1>
      <% end %>
      <a href="/#solutions">Solutions</a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-links-right" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <div class="navbar-links">
            <div class="navbar-link-div">
              <%= link_to "Feedback", "/feedback", class: "feedback-link" %>
            </div>
          </div>
      </ul>
    </div>
  </div>
</div>
