<div class="container-features">
    <div class="value-prop intake-to-procurement-div">
        <div class="value-header-div">  
            <h5>Value Proposition 1</h5>
            <h1>Intake-to-Procure</h1>
        </div>
        <div class="value-detail-div">
            <div class="value-text-div">
                <ul>
                    <li>
                        <h6><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i> Eliminate tedious approval processes</h6>
                        <p>By leveraging collaboration platforms and workflow automation tools, teams can reduce reliance on lengthy email or chat chains, ensuring clearer and more efficient discussions.</p>
                    </li>
                    <li>
                        <h6><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i> Streamline every step of the procurement lifecycle</h6>
                        <p>Optimize and simplify the entire process involved in procuring SaaS within an organization. Automate processes including including requisitioning, vendor selection, purchase order creation, receiving, and invoicing.</p>
                    <li>
                        <h6><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i> Simplify communication accross stakeholders</h6>
                        <p>Facilite purchasing decisions by leveraging a centralized platform.</p>
                    </li>
                </ul>
            </div>
            <div class="feature-image-div">
                <%= image_tag "intake.png", class: "feature-img" %>
            </div>
        </div>
    </div>
    <div class="value-prop vendor-management-div">
        <div class="value-header-div">  
            <h5>Value Proposition 2</h5>
            <h1>SaaS Vendor Management</h1>
        </div>
        <div class="value-detail-div">
            <div class="value-text-div">
                <ul>
                    <li>
                        <h6><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i> Shed light to your SaaS spend</h6>
                        <p>Gain comprehensive spend visibility, enabling you to analyze and identify areas of excessive spending or non-compliance.</p>
                    </li>
                    <li>
                        <h6><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i> Automate purchasing limits</h6>
                        <p>Set up automated controls, implement spending limits, and enforce purchasing policies to ensure budget adherence across your organization.</p>
                    </li>
                    <li>
                        <h6><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i> Data-driven decision making</h6>
                        <p>Real-time analytics and detailed reports empower you to make data-driven decisions and negotiate better terms with suppliers, leading to substantial cost savings</p>
                    </li>
                </ul>
            </div>
            <div class="feature-image-div">
                <%= image_tag "vendormanagement.png", class: "feature-img"  %>
            </div>
        </div>
    </div>
    <div class="value-prop integration-div">
        <div class="value-header-div">  
            <h5>Value Proposition 3</h5>
            <h1>Seamless Integration</h1>
        </div>
        <div class="value-detail-div">
            <div class="value-text-div">
                <ul>
                    <li>
                        <h6><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i> Connect your critical tools</h6>
                        <p>Connect to your existing tech stack with our pre-built connectors. Get up and running in minutes, without a dedicated IT resource.</p>
                    </li>
                    <li>
                        <h6><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i> Empower stakeholders</h6>
                        <p>Remove bottlenecks by letting approvers evaluate requests in their preferred tools.</p>
                    </li>
                    <li>
                        <h6><i class="fa-solid fa-circle-check" style="color: #0dbf31;"></i> Scale your process without disruption</h6>
                        <p>Expand and adapt your purchasing process, without disrupting employee experience. Swap out ERP connectors using CLEO as your fully integrated front door.</p>
                    </li>
                </ul>
            </div>
            <div class="feature-image-div">
                <%= image_tag "integrations.png", class: "feature-img" %>
            </div>
        </div>
    </div>
</div>