<div class="home-container">
    <div class="banner">
        <div class="headers">
            <div class="headers">
                <h1>Manage your SaaS</h1>
                <h1>usage and spend</h1>
                <h1>wisely</h1>
            </div>
            <div class="small-header">
                <h4>Gain visibily in your procurement lifecycles and save SaaS costs</h4>
            </div>
        </div>
    </div>
</div>