<div class="home-container">
    <div class="banner">
        <div class="headers">
            <div class="headers">
                <h1>Manage your SaaS</h1>
                <h1>usage and spend</h1>
                <h1>wisely</h1>
            </div>
            <div class="small-header">
                <h4>Gain visibility in your procurement lifecycles and reduce SaaS costs.</h4>
            </div>
        </div>
        <div class="banner-btn">
            <div class="banner-link-waitlist">
              <%= link_to "Join Waitlist", "/newsletter", class: "newsletter-link" %>
            </div>
        </div>
    </div>
</div>
<div class="home-image">
    <%= image_tag "CleoScreensTwo.jpg" %>
</div>