.navbar {
    margin: 0px 5vw;
    .container-fluid {
        .navbar-brand {
            font-weight: 800;
            color: #7C12BA;
            font-size: 40px;
        }
        .nav-link {
            font-size: 20px;
        }
    }
}